@import url('https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css');

body {
  background-color: #010165;
  font-family: 'Work Sans';
  text-align: center;
}

.header {
  background-color: #00ffff;
  height: 40px;
}

.header > img {
  height: 100%;
}

.title-row {
  margin-top: 30px;
  margin-bottom: 20px;
}

.instructions-title {
  display: inline;
  font-size: 26px;
  color: #00ffff;
}

.instructions-row {
  margin: 0 auto;
  width: 320px;
}

.instructions-number {
  padding-right: 12px;
  font-size: 26px;
  color: #00ffff;
}

.instructions-text {
  padding: 4px;
  font-size: 14px;
  color: #ffffff;
  text-align: left;
}

.door-frame {
  cursor: pointer;
  padding: 10px;
  padding-top: 36px;
  padding-bottom: 32px;
}

.door-row > img {
  width: 80px;
}

.container {
  width: 320px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.counter {
  font-size: 36px;
  color: #eb6536;
  font-weight: bold;
  margin-left: 15px;
}

.start-row {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  margin-right: 15px;
  width: 92px;
  height: 46px;
  background-color: #eb6536;
  font-size: 16px;
  color: #010165;
  cursor: pointer;
}

@media (min-width: 550px) and (max-width: 996px) {
  .header {
    height: 46px;
  }

  .title-row {
    margin-top: 42px;
    margin-bottom: 24px;
  }

  .instructions-title {
    font-size: 32px;
  }

  .instructions-row {
    margin: 0 auto;
    width: 520px;
  }

  .instructions-number {
    padding-right: 12px;
    font-size: 32px;
  }

  .instructions-text {
    padding: 6px;
    font-size: 20px;
  }

  .door-frame {
    padding: 20px;
    padding-top: 60px;
    padding-bottom: 42px;
  }

  .door-row > img {
    width: 180px;
  }

  .container {
    width: 520px;
  }
  
  .counter {
    font-size: 56px;
  }

  .start-row {
    width: 180px;
    height: 60px;
    background-color: #eb6536;
    font-size: 28px;
  }
}

@media (min-width: 992px) {
  .header {
    height: 50px;
  }

  .title-row {
    margin-top: 42px;
    margin-bottom: 21px;
  }

  .instructions-title {
    font-size: 18px;
  }

  .instructions-row {
    width: 400px;
  }

  .instructions-number {
    font-size: 36px;
  }

  .instructions-text {
    font-size: 14px;
  }

  .door-frame {
    padding: 10px;
    padding-top: 30px;
    padding-bottom: 26px;
  }

  .door-row > img {
    width: 120px;
  }

  .container {
    width: 400px;
  }

  .counter {
    font-size: 46px;
  }

  .start-row {
    width: 120px;
    height: 43px;
    font-size: 18px;
  }
}
